bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
/.vs
.DS_Store
ReactRoastDotnet.API/appsettings.Development.json
ReactRoastDotnet.API/app.db
ReactRoastDotnet.sln.DotSettings.user
ReactRoastDotnet.API/app.db-shm
ReactRoastDotnet.API/app.db-wal
ReactRoastDotnet.API/appsettings.json
